<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a>
  is a
  <a href="http://www.railstutorial.org/book">book</a>
  this is all
</p>


